@use './CSS01Functions.scss' as fn;
@use '../../config.scss' as config;

$border-radius-0: 0;
$border-radius-1: fn.ChangeBase(config.$base, 1);
$border-radius-2: fn.ChangeBase(config.$base, 2);
$border-radius-3: fn.ChangeBase(config.$base, 3);
$border-radius-4: fn.ChangeBase(config.$base, 4);
$border-radius-5: fn.ChangeBase(config.$base, 5);
$border-radius-6: fn.ChangeBase(config.$base, 6);
$border-radius-7: fn.ChangeBase(config.$base, 7);
$border-radius-8: fn.ChangeBase(config.$base, 8);
$border-radius-9: fn.ChangeBase(config.$base, 9);
$border-radius-10: fn.ChangeBase(config.$base, 10);



$font-size-1: fn.ChangeBase(config.$base, 1);
$font-size-2: fn.ChangeBase(config.$base, 2);
$font-size-3: fn.ChangeBase(config.$base, 3);
$font-size-4: fn.ChangeBase(config.$base, 4);
$font-size-5: fn.ChangeBase(config.$base, 5);
$font-size-6: fn.ChangeBase(config.$base, 6);
$font-size-7: fn.ChangeBase(config.$base, 7);
$font-size-8: fn.ChangeBase(config.$base, 8);
$font-size-9: fn.ChangeBase(config.$base, 9);
$font-size-10: fn.ChangeBase(config.$base, 10);
$font-size-11: fn.ChangeBase(config.$base, 11);
$font-size-12: fn.ChangeBase(config.$base, 12);
$font-size-13: fn.ChangeBase(config.$base, 13);
$font-size-14: fn.ChangeBase(config.$base, 14);
$font-size-15: fn.ChangeBase(config.$base, 15);
$font-size-16: fn.ChangeBase(config.$base, 16);
$font-size-17: fn.ChangeBase(config.$base, 17);
$font-size-18: fn.ChangeBase(config.$base, 18);
$font-size-19: fn.ChangeBase(config.$base, 19);
$font-size-20: fn.ChangeBase(config.$base, 20);

$gap-0: 0;
$gap-1: fn.ChangeBase(config.$base, 1);
$gap-2: fn.ChangeBase(config.$base, 2);
$gap-3: fn.ChangeBase(config.$base, 3);
$gap-4: fn.ChangeBase(config.$base, 4);
$gap-5: fn.ChangeBase(config.$base, 5);
$gap-6: fn.ChangeBase(config.$base, 6);
$gap-7: fn.ChangeBase(config.$base, 7);
$gap-8: fn.ChangeBase(config.$base, 8);
$gap-9: fn.ChangeBase(config.$base, 9);
$gap-10: fn.ChangeBase(config.$base, 10);
$gap-11: fn.ChangeBase(config.$base, 11);
$gap-12: fn.ChangeBase(config.$base, 12);
$gap-13: fn.ChangeBase(config.$base, 13);
$gap-14: fn.ChangeBase(config.$base, 14);
$gap-15: fn.ChangeBase(config.$base, 15);
$gap-16: fn.ChangeBase(config.$base, 16);
$gap-17: fn.ChangeBase(config.$base, 17);
$gap-18: fn.ChangeBase(config.$base, 18);
$gap-19: fn.ChangeBase(config.$base, 19);
$gap-20: fn.ChangeBase(config.$base, 20);

$margin-0: 0;
$margin-1: fn.ChangeBase(config.$base, 1);
$margin-2: fn.ChangeBase(config.$base, 2);
$margin-3: fn.ChangeBase(config.$base, 3);
$margin-4: fn.ChangeBase(config.$base, 4);
$margin-5: fn.ChangeBase(config.$base, 5);
$margin-6: fn.ChangeBase(config.$base, 6);
$margin-7: fn.ChangeBase(config.$base, 7);
$margin-8: fn.ChangeBase(config.$base, 8);
$margin-9: fn.ChangeBase(config.$base, 9);
$margin-10: fn.ChangeBase(config.$base, 10);
$margin-11: fn.ChangeBase(config.$base, 11);
$margin-12: fn.ChangeBase(config.$base, 12);
$margin-13: fn.ChangeBase(config.$base, 13);
$margin-14: fn.ChangeBase(config.$base, 14);
$margin-15: fn.ChangeBase(config.$base, 15);
$margin-16: fn.ChangeBase(config.$base, 16);
$margin-17: fn.ChangeBase(config.$base, 17);
$margin-18: fn.ChangeBase(config.$base, 18);
$margin-19: fn.ChangeBase(config.$base, 19);
$margin-20: fn.ChangeBase(config.$base, 20);

$padding-0: 0;
$padding-1: fn.ChangeBase(config.$base, 1);
$padding-2: fn.ChangeBase(config.$base, 2);
$padding-3: fn.ChangeBase(config.$base, 3);
$padding-4: fn.ChangeBase(config.$base, 4);
$padding-5: fn.ChangeBase(config.$base, 5);
$padding-6: fn.ChangeBase(config.$base, 6);
$padding-7: fn.ChangeBase(config.$base, 7);
$padding-8: fn.ChangeBase(config.$base, 8);
$padding-9: fn.ChangeBase(config.$base, 9);
$padding-10: fn.ChangeBase(config.$base, 10);
$padding-11: fn.ChangeBase(config.$base, 11);
$padding-12: fn.ChangeBase(config.$base, 12);
$padding-13: fn.ChangeBase(config.$base, 13);
$padding-14: fn.ChangeBase(config.$base, 14);
$padding-15: fn.ChangeBase(config.$base, 15);
$padding-16: fn.ChangeBase(config.$base, 16);
$padding-17: fn.ChangeBase(config.$base, 17);
$padding-18: fn.ChangeBase(config.$base, 18);
$padding-19: fn.ChangeBase(config.$base, 19);
$padding-20: fn.ChangeBase(config.$base, 20);

$top-0: 0;
$top-1: fn.ChangeBase(config.$base, 1);
$top-2: fn.ChangeBase(config.$base, 2);
$top-3: fn.ChangeBase(config.$base, 3);
$top-4: fn.ChangeBase(config.$base, 4);
$top-5: fn.ChangeBase(config.$base, 5);
$top-6: fn.ChangeBase(config.$base, 6);
$top-7: fn.ChangeBase(config.$base, 7);
$top-8: fn.ChangeBase(config.$base, 8);
$top-9: fn.ChangeBase(config.$base, 9);
$top-10: fn.ChangeBase(config.$base, 10);
$top-11: fn.ChangeBase(config.$base, 11);
$top-12: fn.ChangeBase(config.$base, 12);
$top-13: fn.ChangeBase(config.$base, 13);
$top-14: fn.ChangeBase(config.$base, 14);
$top-15: fn.ChangeBase(config.$base, 15);
$top-16: fn.ChangeBase(config.$base, 16);
$top-17: fn.ChangeBase(config.$base, 17);
$top-18: fn.ChangeBase(config.$base, 18);
$top-19: fn.ChangeBase(config.$base, 19);
$top-20: fn.ChangeBase(config.$base, 20);
$top-21: fn.ChangeBase(config.$base, 21);
$top-22: fn.ChangeBase(config.$base, 22);
$top-23: fn.ChangeBase(config.$base, 23);
$top-24: fn.ChangeBase(config.$base, 24);
$top-25: fn.ChangeBase(config.$base, 25);
$top-26: fn.ChangeBase(config.$base, 26);
$top-27: fn.ChangeBase(config.$base, 27);
$top-28: fn.ChangeBase(config.$base, 28);
$top-29: fn.ChangeBase(config.$base, 29);
$top-30: fn.ChangeBase(config.$base, 30);

$bottom-0: 0;
$bottom-1: fn.ChangeBase(config.$base, 1);
$bottom-2: fn.ChangeBase(config.$base, 2);
$bottom-3: fn.ChangeBase(config.$base, 3);
$bottom-4: fn.ChangeBase(config.$base, 4);
$bottom-5: fn.ChangeBase(config.$base, 5);
$bottom-6: fn.ChangeBase(config.$base, 6);
$bottom-7: fn.ChangeBase(config.$base, 7);
$bottom-8: fn.ChangeBase(config.$base, 8);
$bottom-9: fn.ChangeBase(config.$base, 9);
$bottom-10: fn.ChangeBase(config.$base, 10);
$bottom-11: fn.ChangeBase(config.$base, 11);
$bottom-12: fn.ChangeBase(config.$base, 12);
$bottom-13: fn.ChangeBase(config.$base, 13);
$bottom-14: fn.ChangeBase(config.$base, 14);
$bottom-15: fn.ChangeBase(config.$base, 15);
$bottom-16: fn.ChangeBase(config.$base, 16);
$bottom-17: fn.ChangeBase(config.$base, 17);
$bottom-18: fn.ChangeBase(config.$base, 18);
$bottom-19: fn.ChangeBase(config.$base, 19);
$bottom-20: fn.ChangeBase(config.$base, 20);
$bottom-21: fn.ChangeBase(config.$base, 21);
$bottom-22: fn.ChangeBase(config.$base, 22);
$bottom-23: fn.ChangeBase(config.$base, 23);
$bottom-24: fn.ChangeBase(config.$base, 24);
$bottom-25: fn.ChangeBase(config.$base, 25);
$bottom-26: fn.ChangeBase(config.$base, 26);
$bottom-27: fn.ChangeBase(config.$base, 27);
$bottom-28: fn.ChangeBase(config.$base, 28);
$bottom-29: fn.ChangeBase(config.$base, 29);
$bottom-30: fn.ChangeBase(config.$base, 30);

$right-0: 0;
$right-1: fn.ChangeBase(config.$base, 1);
$right-2: fn.ChangeBase(config.$base, 2);
$right-3: fn.ChangeBase(config.$base, 3);
$right-4: fn.ChangeBase(config.$base, 4);
$right-5: fn.ChangeBase(config.$base, 5);
$right-6: fn.ChangeBase(config.$base, 6);
$right-7: fn.ChangeBase(config.$base, 7);
$right-8: fn.ChangeBase(config.$base, 8);
$right-9: fn.ChangeBase(config.$base, 9);
$right-10: fn.ChangeBase(config.$base, 10);
$right-11: fn.ChangeBase(config.$base, 11);
$right-12: fn.ChangeBase(config.$base, 12);
$right-13: fn.ChangeBase(config.$base, 13);
$right-14: fn.ChangeBase(config.$base, 14);
$right-15: fn.ChangeBase(config.$base, 15);
$right-16: fn.ChangeBase(config.$base, 16);
$right-17: fn.ChangeBase(config.$base, 17);
$right-18: fn.ChangeBase(config.$base, 18);
$right-19: fn.ChangeBase(config.$base, 19);
$right-20: fn.ChangeBase(config.$base, 20);
$right-21: fn.ChangeBase(config.$base, 21);
$right-22: fn.ChangeBase(config.$base, 22);
$right-23: fn.ChangeBase(config.$base, 23);
$right-24: fn.ChangeBase(config.$base, 24);
$right-25: fn.ChangeBase(config.$base, 25);
$right-26: fn.ChangeBase(config.$base, 26);
$right-27: fn.ChangeBase(config.$base, 27);
$right-28: fn.ChangeBase(config.$base, 28);
$right-29: fn.ChangeBase(config.$base, 29);
$right-30: fn.ChangeBase(config.$base, 30);

$left-0: 0;
$left-1: fn.ChangeBase(config.$base, 1);
$left-2: fn.ChangeBase(config.$base, 2);
$left-3: fn.ChangeBase(config.$base, 3);
$left-4: fn.ChangeBase(config.$base, 4);
$left-5: fn.ChangeBase(config.$base, 5);
$left-6: fn.ChangeBase(config.$base, 6);
$left-7: fn.ChangeBase(config.$base, 7);
$left-8: fn.ChangeBase(config.$base, 8);
$left-9: fn.ChangeBase(config.$base, 9);
$left-10: fn.ChangeBase(config.$base, 10);
$left-11: fn.ChangeBase(config.$base, 11);
$left-12: fn.ChangeBase(config.$base, 12);
$left-13: fn.ChangeBase(config.$base, 13);
$left-14: fn.ChangeBase(config.$base, 14);
$left-15: fn.ChangeBase(config.$base, 15);
$left-16: fn.ChangeBase(config.$base, 16);
$left-17: fn.ChangeBase(config.$base, 17);
$left-18: fn.ChangeBase(config.$base, 18);
$left-19: fn.ChangeBase(config.$base, 19);
$left-20: fn.ChangeBase(config.$base, 20);
$left-21: fn.ChangeBase(config.$base, 21);
$left-22: fn.ChangeBase(config.$base, 22);
$left-23: fn.ChangeBase(config.$base, 23);
$left-24: fn.ChangeBase(config.$base, 24);
$left-25: fn.ChangeBase(config.$base, 25);
$left-26: fn.ChangeBase(config.$base, 26);
$left-27: fn.ChangeBase(config.$base, 27);
$left-28: fn.ChangeBase(config.$base, 28);
$left-29: fn.ChangeBase(config.$base, 29);
$left-30: fn.ChangeBase(config.$base, 30);

$color-1: white;
$color-2: white;
$color-3: #6861611a;
$color-4: white;
$color-5: #D3D3D3;
$color-6: #C2C5CC;
$color-7: white;
$color-8: white;
$color-9: #0d0e0d;
$color-10: white;
$color-11: #7FA1FB;
$color-12: #4746A3;
$color-13: #263D90;
$color-14: #7878E8;
$color-15: #5CBAFF;
$color-16: #0279F8;
$color-17: #9099A9;
$color-18: #3DD4B8;
$color-19: #3DD4B8;
$color-20: white;
$color-21: #f217a9;
$color-22: #FF3D41;
$color-23: #ff217a96;
$color-24: #FFC724;
$color-25: #FF7033;
$color-26: #3B3A39;
$color-27: #4746A3;
$color-28: #201F1E;
$color-29: #FFC724;
$color-30: #5CBAFF;
$color-20: #253c9075;

